[submodule "thirdparty/sse2neon"]
	path = thirdparty/sse2neon
	url = https://github.com/jratcliff63367/sse2neon.git
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/basalt-headers"]
	path = thirdparty/basalt-headers
	url = git@github.com:RoblabWh/basalt-headers.git
[submodule "thirdparty/Sophus"]
	path = thirdparty/Sophus
	url = https://github.com/strasdat/Sophus.git
